@font-face {
    font-family: 'Crunchyroll';
    src: url("../../../fonts/Crunchyroll-Book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crunchyroll';
    src: url("../../../fonts/Crunchyroll-Bold.woff2") format("woff2");
    font-weight: Bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("../../../fonts/Lato-Heavy.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("../../../fonts/Lato-Medium.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("../../../fonts/Lato-Semibold.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

.header-container {
    background-color: #23252b;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    min-width: 20rem;
    padding: 0 40px;
    cursor: pointer;
}

.a {
    filter: invert(51%) sepia(27%) saturate(1969%) hue-rotate(346deg) brightness(99%) contrast(93%);
    height: 3.75rem;
    width: inherit;
    min-width: 10rem;
    object-fit: cover;
    background-position: center;

    background-repeat: no-repeat;
    background-image: url('../../../assets/crunchys.svg')
}

.a:hover {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(100deg) brightness(115%) contrast(106%);
}

.header-logo {
    width: 170px;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 25px;
}

.header-left {
    color: #fff;
    font-family: Lato, Helvetica Neue, helvetica, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
}

.header-right {
    color: #fff;
    font-family: Lato, Helvetica Neue, helvetica, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.Explorar {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    align-items: center;
    color: #dadada
}

.Explorar:hover {
    background-color: #141519;
    color: #fff;
}

.Explorar:hover .down {
    fill: #fff;
}

.Noticias:hover .down {
    fill: #fff;
}

.Manga {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    font-family: Lato, Helvetica Neue, helvetica, sans-serif;
    color: #dadada
}

.Manga:hover span {
    color: #fff;
}

.Juegos:hover span {
    color: #fff;
}

.Noticias:hover span {
    color: #fff;
}

.Perfil:hover .down {
    fill: #fff;
}

span {
    color: #dadada;
    font-family: 'Lato';
    font-weight: 400;

}

.Manga:hover {
    background-color: #141519;
    color: #fff;
}

.Juegos {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    font-family: Lato, Helvetica Neue, helvetica, sans-serif;
    color: #dadada
}

.Juegos:hover {
    background-color: #141519;
    color: #fff;
}

.Noticias {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    font-family: Lato, Helvetica Neue, helvetica, sans-serif;
    color: #dadada
}

.Noticias:hover {
    background-color: #141519;
    color: #fff;
}

.Search {
    height: 100%;
    height: 60px;
    width: 60px;
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato, Helvetica Neue, helvetica, sans-serif;
    color: #dadada
}

.Search:hover {
    background-color: #141519;
    color: #fff;
}

.Bookmark {

    height: 60px;
    width: 60px;
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Bookmark:hover {
    background-color: #141519;
    color: #fff;
}

.Perfil {

    height: 60px;
    width: 60px;

    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;


}

.Perfil:hover {
    background-color: #141519;
    color: #fff;
}

.p {
    background-image: url('../../../assets/ppick.png');
    background-size: cover;
    object-fit: contain;
    min-width: 36px;
    min-height: 36px;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 5px;
}

.s {
    min-width: 1.5rem;
    min-height: 1.5rem;
    fill: #dadada;
    background-repeat: no-repeat;
    max-width: 24px;
    max-height: 24px;

}

.Search:hover .s {
    fill: #fff;
}

.b {
    min-width: 1.5rem;
    min-height: 1.5rem;
    fill: #dadada;
    background-repeat: no-repeat;
    max-width: 24px;
    max-height: 24px;
}

.Bookmark:hover .b {
    fill: #fff;
}

.down {
    min-width: 1.5rem;
    min-height: 1.5rem;
    fill: #dadada;
    background-repeat: no-repeat;
    max-width: 24px;
    max-height: 24px;
}