.progress-div {
    background-color: #909CA2;
    margin-left: -6px;
    margin-top: -10px;
}

.progress {
    background-color: #f47521;
    height: 3px;
    transition: 8s ease;
    transition-delay: 0.5s;
}