.diossabe {
    background-color: linear-gradient(rgb(244, 117, 33), rgb(250, 184, 24), rgb(244, 117, 33));
    min-width: 5rem;
    min-height: 5rem;
    background-repeat: no-repeat;
}

.img {
    min-width: 5rem;
    min-height: 5rem;
}