.containcercarrusel2 {
    height: 60%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 7.75rem;
    min-width: 64em;
    background: linear-gradient(0.25turn, #fab818, #f47521, #fab818);
}

.Lines {
    overflow: hidden;
    height: 100.625rem;
    left: 20px;
    position: absolute;
    top: 60px;
    transform: translate(-40%, -32.3%);
    width: 43.4375rem;
}

.Circle {
    overflow: hidden;
    display: unset;
    height: 100.625rem;
    position: absolute;
    right: 10px;
    top: 30px;
    transform: translate(39%, -29%);
    width: 43.4375rem;
}