.diossabe {
    background-color: linear-gradient(rgb(244, 117, 33), rgb(250, 184, 24), rgb(244, 117, 33));
    min-width: 5rem;
    min-height: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}

.containertotal {
    position: relative;
}

.iconizq {
    width: 60px;
    height: 60px;
    position: absolute;

    top: 260px;
    left: 1280px;
    background: transparent;
    border-color: transparent;
}

button:hover {
    background-color: black;
}

button:hover .der {
    fill: white;
}

button:hover .izq {
    fill: white;
}

.iconder {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 200px;
    top: 260px;
    background: transparent;
    border-color: transparent;
}

.der {
    transform: rotate(180deg);
}




h1 {
    padding-top: 260px;
    color: white;
}

.HOKL {
    height: calc(500px + 3.75rem);
    display: block;
    position: relative;
    flex-direction: row;
    width: 100vw;
    overflow: hidden;
    overflow: hidden;
}

.left-exit {
    transform: translateX(0);
}

.left-exit-active {
    transform: translateX(100%);
    transition: all 2s;
}

.left-enter {

    transform: translateX(-100%);
}

.left-enter-active {

    transform: translateX(0);
    transition: all 2s;
}


.right-exit {
    transform: translateX(0);
}

.right-exit-active {
    transform: translateX(-100%);
    transition: all 2s;
}

.right-enter {
    transform: translateX(100%);
}

.right-enter-active {

    transform: translateX(0);
    transition: all 2s;
}

.carruselItem {
    height: 100%;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    overflow: hidden;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding-top: 3.75rem;
    background-color: #2abdbb;
}